div {
  gap: 8px;
}

button {
  padding: 2px 4px;
  color: #fff;
  font-weight: bold;
  background-color: #444;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 42px;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.buttons-wrapper {
  display: flex;
}

.game-viewed {
  min-width: 42px;
}

.select-game {
}

.selected {
  background: cadetblue;
}

img {
  width: 32px;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
