div {
  gap: 8px 4px;
}

button {
  padding: 2px 4px;
  color: #fff;
  font-weight: bold;
  background-color: #444;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: clamp(32px, calc(32px + (42 - 32) * ((100vw - 500px) / (720 - 500))), 42px);
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.buttons-wrapper {
  display: flex;
}

.selected {
  background: cadetblue;
}

img {
  width: clamp(20px, calc(20px + (32 - 20) * ((100vw - 500px) / (720 - 500))), 32px);
  height: 100%;
  object-fit: contain;
  object-position: center;
}
