div {
  gap: 8px;
}

button {
  padding: 2px 4px;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  background-color: #444;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 42px;
}

.selected {
  background: cadetblue;
}

img {
  width: 32px;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
