<div class="container">
  @if (initialized) {
    <div class="content">
      <div class="header flex space-between">
        @if (leagues.length) {
          <div class="week-selector">
            <button (click)="decrementSelectedWeek()">
              <img src="assets/icons/arrow.png" alt="arrow" class="mirrored-hor" />
            </button>
            <span>{{ selectedWeek }}</span>
            <button (click)="incrementSelectedWeek()">
              <img src="assets/icons/arrow.png" alt="arrow" />
            </button>
          </div>
        }
        <button (click)="location.reload()">
          <img src="assets/icons/reload.png" alt="refresh" />
        </button>
      </div>
      <div class="schedule-container flex column">
        <app-schedule
          [week]="selectedWeek"
          [selectedGame]="selectedGame"
          [viewedGames]="viewedGames"
          (selectGame)="onSelectGame($event)"
          (toggleGameViewed)="onToggleGameViewed($event)"
          (toggleAllGamesViewed)="onToggleAllGamesViewed($event)"
        />
      </div>
      <div class="matchup-container flex column">
        @for (league of leagues; track league) {
          <app-matchup
            [league]="league"
            [rosterId]="rosterIds.get(league.leagueId)"
            [week]="selectedWeek"
            [selectedGame]="selectedGame"
            [viewedGames]="viewedGames"
          />
        }
        <button class="update-button" (click)="updatePlayers()">
          <img src="assets/icons/reload.png" alt="refresh" />
          Update Player Data
        </button>
      </div>
    </div>
  }
</div>
