<div class="container">
  <div class="league-header">
    <div>
      <h2 [ngClass]="{ bestball: league.settings.bestBall }">
        {{ league.settings.bestBall ? league.name + " (Bestball)" : league.name }}
      </h2>
    </div>
    @if ((myTeam?.players?.length || opponent?.players?.length) && teamsWithShownPoints.length) {
      <div class="flex total-points">
        <h2>{{ myTeam!.points }}</h2>
        <h2>{{ opponent!.points }}</h2>
        <h2 [ngClass]="{ red: pointDifferential.startsWith('-'), green: pointDifferential.startsWith('+') }">
          ({{ pointDifferential }})
        </h2>
      </div>
    }
  </div>
  @if (myTeam?.players?.length || opponent?.players?.length) {
    <div class="content">
      <div class="flex column">
        @for (starter of myTeam?.players; track $index; let index = $index) {
          @if (starter) {
            <span>
              <app-starter
                [starter]="starter"
                [points]="
                  starter.team && teamsWithShownPoints.includes(starter.team) && myTeam?.playersPoints?.length
                    ? myTeam!.playersPoints[index].toString()
                    : null
                "
              />
            </span>
          }
        }
      </div>
      <div class="flex column">
        @for (starter of opponent?.players; track $index; let index = $index) {
          @if (starter) {
            <span class="player">
              <app-starter
                [starter]="starter"
                [isOpponent]="true"
                [points]="
                  starter.team && teamsWithShownPoints.includes(starter.team) && opponent?.playersPoints?.length
                    ? opponent!.playersPoints[index].toString()
                    : null
                "
              />
            </span>
          }
        }
      </div>
    </div>
  }
</div>
