<div class="container">
  <h2>{{ league.name }}</h2>
  <div *ngIf="myTeam?.starters?.length || opponent?.starters?.length" class="content">
    <div class="flex column">
      <span *ngFor="let starter of myTeam?.starters; let index = index">
        <app-starter
          [starter]="starter"
          [isOpponent]="false"
          [points]="showPoints && myTeam?.starters_points?.length ? myTeam!.starters_points[index].toString() : null"
        ></app-starter>
      </span>
      <span class="points" *ngIf="showPoints && !selectedGame">{{ myTeam?.points }}</span>
    </div>
    <div class="flex column">
      <span class="player" *ngFor="let starter of opponent?.starters; let index = index">
        <app-starter
          [starter]="starter"
          [isOpponent]="true"
          [points]="showPoints && opponent?.starters_points?.length ? opponent!.starters_points[index].toString() : null"
        ></app-starter>
      </span>
      <span class="points" *ngIf="showPoints && !selectedGame">{{ opponent?.points }}</span>
    </div>
  </div>
</div>
