<div class="container">
  <div class="league-header">
    <div>
      <h2>{{ league.name }}</h2>
    </div>
    <div *ngIf="myTeam?.starters?.length || opponent?.starters?.length" class="flex total-points">
      <h2>{{ myTotalPoints }}</h2>
      <h2>{{ opponentTotalPoints }}</h2>
      <h2 [ngClass]="{ red: pointDifferential.startsWith('-'), green: pointDifferential.startsWith('+') }">
        ({{ pointDifferential }})
      </h2>
    </div>
  </div>
  <div *ngIf="!myTeam?.starters?.length && !opponent?.starters?.length" class="content">
    <p class="loading-message">loading ...</p>
  </div>
  <div *ngIf="myTeam?.starters?.length || opponent?.starters?.length" class="content">
    <div class="flex column">
      <span *ngFor="let starter of myTeam?.starters; let index = index">
        <app-starter
          [starter]="starter"
          [isOpponent]="false"
          [points]="
            starter?.team && teamsWithShownPoints.includes(starter!.team) && myTeam?.starters_points?.length
              ? myTeam!.starters_points[index].toString()
              : null
          "
        ></app-starter>
      </span>
    </div>
    <div class="flex column">
      <span class="player" *ngFor="let starter of opponent?.starters; let index = index">
        <app-starter
          [starter]="starter"
          [isOpponent]="true"
          [points]="
            starter?.team && teamsWithShownPoints.includes(starter!.team) && opponent?.starters_points?.length
              ? opponent!.starters_points[index].toString()
              : null
          "
        ></app-starter>
      </span>
    </div>
  </div>
</div>
