h2 {
  font-size: clamp(11px, calc(11px + (20 - 11) * ((100vw - 370px) / (1000 - 370))), 20px);
}

.league-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
}

.league-header > div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 6px));
  gap: 8px;
}

.content div {
  margin: 4px;
}

.green {
  color: darkseagreen;
}

.red {
  color: darksalmon;
}

.points {
  font-weight: bold;
}

.total-points {
  color: darkgrey;
}

.green {
  color: darkseagreen;
}

.red {
  color: darksalmon;
}

.loading-message {
  margin-left: 32px;
  font-size: clamp(10px, calc(10px + (18 - 10) * ((100vw - 7600px) / (1000 - 760))), 18px);
  color: darkgrey;
}

@media (max-width: 576px) {
  h2 {
    margin: 0 0 8px;
  }

  .league-header {
    flex-direction: column;
    align-items: start;
  }

  .content {
    gap: 2px;
  }
}
