button {
  padding: 8px;
  font-size: 16px;
  color: #fff;
  background-color: #444;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 42px;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

span {
  padding: 8px;
  font-size: 16px;
  color: #600;
  font-weight: bold;
  background-color: #ddd;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.container {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  justify-content: space-around;
  margin: 32px auto 0;
  padding: 16px;
  height: calc(100vh - 132px);
  width: 100%;
  overflow-y: scroll;
}

.container > div {
  width: 100%;
  justify-content: space-around;
}

.content {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.content > div {
  gap: 32px;
}

.show-points {
  background-color: darksalmon;
}

.hide-points {
  background-color: darkseagreen;
}

.week-selector {
  display: flex;
  gap: 18px;
  align-items: center;
}

.matchup-container {
  margin-top: 72px;
}

@media (max-width: 1240px) {
  .container {
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 0 auto;
  }

  .mt-16 {
    margin-top: 0;
  }
}

@media (max-width: 720px) {
  .container {
    padding: 64px 16px 16px;
  }
}
