button {
  padding: 8px;
  font-size: 16px;
  color: #fff;
  background-color: #444;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 42px;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.container {
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  height: 100vh;
  width: calc(100vw + 18px); /*hide scrollbar*/
  overflow-y: scroll;
}

.content {
  display: grid;
  grid-template-columns: 150px calc(min(880px, 100vw) - 150px);
  width: min(880px, 100vw);
  justify-content: center;
  margin-bottom: 100px;
}

.content > div {
  gap: 32px;
}

.header {
  grid-column: span 2;
  width: min(880px, 100vw);
  padding: 16px;
}

.show-points {
  background-color: darksalmon;
}

.hide-points {
  background-color: darkseagreen;
}

.week-selector {
  display: flex;
  gap: 18px;
  align-items: center;
}

.week-selector > button,
.header > button {
  padding: 8px;
  background-color: #ddd;
}

.week-selector > span {
  width: 32px;
  text-align: center;
  padding: 8px;
  font-size: 18px;
  color: #600;
  font-weight: bold;
  background-color: #ddd;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.mirrored-hor {
  transform: scaleX(-1);
}

.matchup-container,
.schedule-container {
  padding: 8px;
}

@media (max-width: 580px) {
  .matchup-container {
    padding: 0 8px 0 0;
  }
}
