div {
  display: flex;
  gap: 8px;
  width: 282px;
  height: 32px;
  padding: 4px 8px;
  align-items: center;
  background: #3f3f3f;
  border-radius: 4px;
  font-size: 18px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

img {
  width: 32px;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.points {
  margin-left: auto;
  width: 48px;
  color: darkgrey;
}
