div {
  display: flex;
  gap: 8px;
  width: 100%;
  height: clamp(20px, calc(20px + (32 - 20) * ((100vw - 500px) / (720 - 500))), 32px);
  padding: 4px 8px;
  align-items: center;
  background: #3f3f3f;
  border-radius: 4px;
  font-size: clamp(8px, calc(8px + (18 - 8) * ((100vw - 760px) / (1000 - 760))), 18px);
  line-height: calc(clamp(8px, calc(8px + (18 - 8) * ((100vw - 760px) / (1000 - 760))), 18px) * 1.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

  &.border-white {
    border: 1px solid #fff;
  }

  &.border-green {
    border: 1px solid #0a0;
  }

  &.border-blue {
    border: 1px solid #06d;
  }

  &.border-amber {
    border: 1px solid #fa0;
  }
}

img {
  width: clamp(14px, calc(14px + (32 - 14) * ((100vw - 420px) / (720 - 420))), 32px);
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.points {
  margin-left: auto;
  width: fit-content;
  color: darkgrey;
}

.text-grey {
  color: darkgrey;
}

@media (max-width: 580px) {
  div {
    padding: 2px 4px;
    gap: 4px;
  }
}
